<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
<connectionStrings>
  <add name="DeCuongOnTapEntities" connectionString="metadata=res://*/DataContext.ModelContext.csdl|res://*/DataContext.ModelContext.ssdl|res://*/DataContext.ModelContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\sqlexpress;initial catalog=DeCuongOnTap;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
</configuration>