@{
    ViewBag.Title = "Trang Giới thiệu";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>
<hr />
<div class="row">
    <div class="col-md-4">
        <h4>Thông tin trường</h4>
        Lịch sử thành lập trường: ...............................<br />
        Trường được thành lập vào thời gian ..................... <br />
        Do ....... <br />
        Đã hoạt động qua nhiều năm, nhiều nhiệm kỳ Hiệu trưởng. <br />
        Hiệu trưởng hiện tại của trường là Thầy xxxxxxxxx <br />
    </div>
    <div class="col-md-4">
        <h4>Thông tin Giáo viên</h4>
        Trường gồm có xx giáo viên với:
        <ul>
            <li>xx giáo viên chính thức.</li>
            <li>xx giáo viên hợp đồng.</li>
            <li>Trong đó: xx giáo viên là nữ.</li>
        </ul>
        <p><a class="btn btn-default" href="#">Chi tiết &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h4>Thông tin Nhân viên</h4>
        Trường hiện có xx nhân viên gồm có:
        <ul>
            <li>xx nhân viên y tế.</li>
            <li>xx nhân viên thư viện.</li>
            <li>xx nhân viên văn phòng</li>
            <li>xx nhân viên vệ sinh</li>
        </ul>
    </div>

</div>