@{
    ViewBag.Title = "Liên hệ";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>
<hr />
<div class="container">
    <div class="col-md-6">
        <h4>Nhà trường</h4>
        Số nhà xxx/xxx, Xã Xuân Bắc, Huyện Xuân Lộc, Tỉnh Đồng Nai
        <br />
        Số điện thoại liên hệ: xxx.xxx.xxxx
    </div>

    <div class="col-md-6">
        <h4>Ban giám hiệu</h4>
        <ul>
            <li>
                Hiệu trưởng: xxxxxxxxxxxxxxxxx
                <br />
                <ul>
                    <li>
                        <strong>Email:</strong>
                        <a href="mailto:xxx@gmail.com">xxx@gmail.com</a>
                        <br />
                    </li>
                    <li>
                        <strong>Số ĐT:</strong> xxx.xxx.xxxx
                    </li>
                </ul>
            </li>
            <li>
                Hiệu phó: xxxxxxxxxxxxxxxxx
                <br />
                <ul>
                    <li>
                        <strong>Email:</strong>
                        <a href="mailto:xxx@gmail.com">xxx@gmail.com</a>
                        <br />
                    </li>
                    <li>
                        <strong>Số ĐT:</strong> xxx.xxx.xxxx
                    </li>
                </ul>
            </li>
        </ul>
    </div>

    <div class="col-md-12">
        <h4>Nhân viên</h4>
        <div class="col-md-4">
            <b class="btn btn-primary" data-toggle="collapse" href="#collapseKhoi1">Khối 1</b>
            <ul class="collapse" id="collapseKhoi1">
                <li>
                    Thầy: xxxxxxxxxxxxxxxxx
                    <br />
                    <ul>
                        <li>
                            <strong>Email:</strong>
                            <a href="mailto:xxx@gmail.com">xxx@gmail.com</a>
                            <br />
                        </li>
                        <li>
                            <strong>Số ĐT:</strong> xxx.xxx.xxxx
                        </li>
                    </ul>
                </li>
                <li>
                    Cô: xxxxxxxxxxxxxxxxx
                    <br />
                    <ul>
                        <li>
                            <strong>Email:</strong>
                            <a href="mailto:xxx@gmail.com">xxx@gmail.com</a>
                            <br />
                        </li>
                        <li>
                            <strong>Số ĐT:</strong> xxx.xxx.xxxx
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="col-md-4">
            <b class="btn btn-primary" data-toggle="collapse" href="#collapseKhoi2">Khối 2</b>
            <ul class="collapse" id="collapseKhoi2">
                <li>
                    Thầy: xxxxxxxxxxxxxxxxx
                    <br />
                    <ul>
                        <li>
                            <strong>Email:</strong>
                            <a href="mailto:xxx@gmail.com">xxx@gmail.com</a>
                            <br />
                        </li>
                        <li>
                            <strong>Số ĐT:</strong> xxx.xxx.xxxx
                        </li>
                    </ul>
                </li>
                <li>
                    Cô: xxxxxxxxxxxxxxxxx
                    <br />
                    <ul>
                        <li>
                            <strong>Email:</strong>
                            <a href="mailto:xxx@gmail.com">xxx@gmail.com</a>
                            <br />
                        </li>
                        <li>
                            <strong>Số ĐT:</strong> xxx.xxx.xxxx
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="col-md-4">
            <b class="btn btn-primary" data-toggle="collapse" href="#collapseKhoi3">Khối 3</b>
            <ul class="collapse" id="collapseKhoi3">
                <li>
                    Thầy: xxxxxxxxxxxxxxxxx
                    <br />
                    <ul>
                        <li>
                            <strong>Email:</strong>
                            <a href="mailto:xxx@gmail.com">xxx@gmail.com</a>
                            <br />
                        </li>
                        <li>
                            <strong>Số ĐT:</strong> xxx.xxx.xxxx
                        </li>
                    </ul>
                </li>
                <li>
                    Cô: xxxxxxxxxxxxxxxxx
                    <br />
                    <ul>
                        <li>
                            <strong>Email:</strong>
                            <a href="mailto:xxx@gmail.com">xxx@gmail.com</a>
                            <br />
                        </li>
                        <li>
                            <strong>Số ĐT:</strong> xxx.xxx.xxxx
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>

    <div class="col-md-12">
        <div class="col-md-4">
            <b class="btn btn-primary" data-toggle="collapse" href="#collapseKhoi4">Khối 4</b>
            <ul class="collapse" id="collapseKhoi4">
                <li>
                    Thầy: xxxxxxxxxxxxxxxxx
                    <br />
                    <ul>
                        <li>
                            <strong>Email:</strong>
                            <a href="mailto:xxx@gmail.com">xxx@gmail.com</a>
                            <br />
                        </li>
                        <li>
                            <strong>Số ĐT:</strong> xxx.xxx.xxxx
                        </li>
                    </ul>
                </li>
                <li>
                    Cô: xxxxxxxxxxxxxxxxx
                    <br />
                    <ul>
                        <li>
                            <strong>Email:</strong>
                            <a href="mailto:xxx@gmail.com">xxx@gmail.com</a>
                            <br />
                        </li>
                        <li>
                            <strong>Số ĐT:</strong> xxx.xxx.xxxx
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="col-md-4">
            <b class="btn btn-primary" data-toggle="collapse" href="#collapseKhoi5">Khối 5</b>
            <ul class="collapse" id="collapseKhoi5">
                <li>
                    Thầy: xxxxxxxxxxxxxxxxx
                    <br />
                    <ul>
                        <li>
                            <strong>Email:</strong>
                            <a href="mailto:xxx@gmail.com">xxx@gmail.com</a>
                            <br />
                        </li>
                        <li>
                            <strong>Số ĐT:</strong> xxx.xxx.xxxx
                        </li>
                    </ul>
                </li>
                <li>
                    Cô: xxxxxxxxxxxxxxxxx
                    <br />
                    <ul>
                        <li>
                            <strong>Email:</strong>
                            <a href="mailto:xxx@gmail.com">xxx@gmail.com</a>
                            <br />
                        </li>
                        <li>
                            <strong>Số ĐT:</strong> xxx.xxx.xxxx
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="col-md-4">
            <b class="btn btn-primary" data-toggle="collapse" href="#collapseNV">Nhân viên khác</b>
            <ul class="collapse" id="collapseNV">
                <li>
                    Thầy: xxxxxxxxxxxxxxxxx
                    <br />
                    <ul>
                        <li>
                            <strong>Email:</strong>
                            <a href="mailto:xxx@gmail.com">xxx@gmail.com</a>
                            <br />
                        </li>
                        <li>
                            <strong>Số ĐT:</strong> xxx.xxx.xxxx
                        </li>
                    </ul>
                </li>
                <li>
                    Cô: xxxxxxxxxxxxxxxxx
                    <br />
                    <ul>
                        <li>
                            <strong>Email:</strong>
                            <a href="mailto:xxx@gmail.com">xxx@gmail.com</a>
                            <br />
                        </li>
                        <li>
                            <strong>Số ĐT:</strong> xxx.xxx.xxxx
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>