@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ĐỀ CƯƠNG ÔN TẬP</h1>
    <p class="lead">Đề cương ôn tập của trường Tiểu học xxxxxx. Được các giáo viên của trường đúc kết chắt lọc kiến thức qua nhiều năm kinh nghiệm cũng như sưu tầm từ các nguồn tài liệu mở trên mạng ...</p>
    <p><a href="#" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h4>Học kỳ</h4>
        <p>
            Đề cương được phân chia theo Học kỳ gồm có <br />
            <ol>
                <li>Giữa HKI</li>
                <li>Cuối HKI</li>
                <li>Giữa HKII</li>
                <li>Cuối HKII</li>
            </ol>
        </p>
        @*<p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>*@
    </div>
    <div class="col-md-4">
        <h4>Khối lớp</h4>
        <p>
            Trường gốm có các khối lớp sau: <br />
            <ol class="manual">
                <li>Khối lớp 1</li>
                <li>Khối lớp 2</li>
                <li>Khối lớp 3</li>
                <li>Khối lớp 4</li>
                <li>Khối lớp 5</li>
            </ol>
        </p>
        @*<p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>*@
    </div>
    <div class="col-md-4">
        <h4>Môn học</h4>
        <p>
            Những môn học có đề cương trong Trường tùy thuộc vào Khối lớp và học kỳ.<br />
            Danh sách một số môn học có đề cương:
            <ol>
                <li>Toán</li>
                <li>Tiếng Việt</li>
                <li>Tiếng Anh</li>
                <li>Khoa học</li>
                <li>Lịch sử và Địa lý</li>
                <li>...</li>
            </ol>
        </p>
        @*<p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>*@
    </div>
</div>